@model Vispl.Trainee.StumpScore.VO.Models.Matches
@{
    ViewBag.Title = "Create";
}

<div>

    <h2 class="text-center">Create</h2>

    <div>
        @using (Html.BeginForm("Create", "Match", FormMethod.Post))
        {
            <div>
                @Html.LabelFor(m => m.Team1Id)
                <span class="required">*</span>
                <br />
                @Html.EJS().DropDownListFor(m => m.Team1Id).DataSource(ViewBag.Teams as IEnumerable<SelectListItem>).Fields(f => f.Text("Text").Value("Value")).Placeholder("Select Team 1").Render()
                <br />
                @Html.ValidationMessageFor(m => m.Team1Id, null, new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(m => m.Team2Id)
                <span class="required">*</span>
                <br />
                @Html.EJS().DropDownListFor(m => m.Team2Id).DataSource(ViewBag.Teams as IEnumerable<SelectListItem>).Fields(f => f.Text("Text").Value("Value")).Placeholder("Select team 2").Render()
                <br />
                @Html.ValidationMessageFor(m => m.Team2Id, null, new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(m => m.StadiumId)
                <span class="required">*</span>
                <br />
                @Html.EJS().DropDownListFor(m => m.StadiumId).DataSource((IEnumerable<Vispl.Trainee.StumpScore.VO.Models.Stadium>)ViewBag.Stadiums).Fields(f => f.Text("StadiumName").Value("Id")).Placeholder("Select Stadium").Render()
                <br />
                @Html.ValidationMessageFor(m => m.StadiumId, null, new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(m => m.MatchStart)
                <span class="required">*</span>
                <br />
                @Html.EJS().DateTimePickerFor(m => m.MatchStart).Format("dd-MM-yyyy HH:mm").Placeholder("Select Match Start Date Time").Render()
                <br />
                @Html.ValidationMessageFor(m => m.MatchStart, null, new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(m => m.MatchEnd)
                <span class="required">*</span>
                <br />
                @Html.EJS().DateTimePickerFor(m => m.MatchEnd).Format("dd-MM-yyyy HH:mm").Placeholder("Select Match End Date Time").Render()
                <br />
                @Html.ValidationMessageFor(m => m.MatchEnd, null, new { @class = "text-danger" })
            </div>
            <div>
                @Html.LabelFor(m => m.TournamentId)
                <span class="required">*</span>
                <br />
                @Html.EJS().DropDownListFor(m => m.TournamentId).DataSource(ViewBag.Tournaments as IEnumerable<SelectListItem>).Fields(f => f.Text("Text").Value("Value")).Placeholder("Select Tournament").Render()
                <br />
                @Html.ValidationMessageFor(m => m.TournamentId, null, new { @class = "text-danger" })
            </div>
            <div>
                <input type="submit" />
            </div>
        }
    </div>
</div>
